<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-4" ng-repeat="profile in profiles">
                <div class="card mt-2">
                    <img src={{profile.profileImage}} class="card-img-top" alt="profile picture"
                         ng-if="profile.profileImage">
                    <div class="card-body">
                        <h5 class="card-title">{{profile.name}} — Age {{getAge(profile.dob)}}</h5>
                        <h6>Sports</h6>
                        <ul class="list-inline">
                            <li class="list-inline-item" ng-repeat="sport in profile.sports">{{sport}}</li>
                        </ul>
                        <h6 ng-if="hasSocials(profile.socials)">Socials</h6>
                        <ul ng-if="hasSocials(profile.socials)">
                            <li ng-repeat="(key, val) in profile.socials">{{capitalize(key)}}: {{val}}</li>
                        </ul>
                        <h6 ng-if="profile.about">Bio</h6>
                        <p class="card-text" ng-if="profile.about">{{profile.about}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
